.noteWrap
{
  height: 20vh;
  width: 100vw;
  border-radius: 20px;
  border: 1px solid #0A0A0A;
}
.noteHeader
{
  text-align: center;
  width: 100vw;
}
.check-button
{
  height: 18px;
  width: 18px;
}
.change
{
  height: 18px;
  width: 18px;
  background: url("pngwing.com(2).png");
  background-size: cover;
}
.change:hover
{
  background: url("pngwing.com(3).png");
  background-size: cover;
}
.buts
{
  display: flex;
  height: 18px;
  width: 130px;
  margin-left: 90vw;
  margin-top: 10vh;
}
.buts1
{
  display: flex;
  height: 18px;
  width: 130px;
  margin-left: 90vw;
  margin-top: 17vh;
}
.delete
{
  height: 18px;
  width: 18px;
  background: url("delIcon.png");
  background-size: cover;
}
.delete:hover
{
  background: url("delIconActive.png");
  background-size: cover;
}
.check-button, .change, .delete
{
  margin-left: 20px;
}
.container
{
  display: inline;
}